Options -Indexes

RewriteEngine on
RewriteBase /
RewriteRule (css|js|images)/(.*) webroot/$1/$2 [L]
RewriteCond %{REQUEST_URI} !router.php
RewriteCond %{REQUEST_URI} !(webroot|install)
RewriteRule (.*) router.php [L]