<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="bootstrap.php">
    <php>
        <env name="APP_ENV" value="testing"/>
    </php>
    <testsuites>
        <testsuite name="Hoard Test Suite">
            <directory>tests/Hoard</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">app</directory>
            <directory suffix=".php">public</directory>
        </whitelist>
        <blacklist>
            <directory suffix=".php">vendor</directory>
        </blacklist>
    </filter>
</phpunit>
