<div class="container">

    <h2>Running Report..</h2>

    <div id="console-output"></div>
    <br/>
    <div id="report-link"></div>

</div>

<script>
$(document).ready(function () {

    var consoleResponse = function (d) {
        var date = new Date();
        var lines = d.split("\n");
        if (lines[lines.length - 1] === '') {
            lines.pop();
        }
        $(lines).each(function (index, line) {
            var consoleLine = $(document.createElement('div'));
            consoleLine.addClass('console-line');
            consoleLine.html(
                '<span class="console-date">'
                    + $.strPadLeft(date.getHours(), 2)
                    + ':'
                    + $.strPadLeft(date.getMinutes(), 2)
                    + ':'
                    + $.strPadLeft(date.getSeconds(), 2)
                    + '</span>'
                + ' <span class="console-prompt">$</span> '
                + line
                );
            if (line.indexOf('Report ID:') > -1) {
                var report_id = line.replace('Report ID: ', '');
                $('#report-link').html('<a href="/report/{{ report._id }}/' + report_id + '">Click here to view this report</a>');
            }
            consoleDiv.append(consoleLine);
        });
        consoleDiv.scrollTop(consoleDiv[0].scrollHeight);
    };

    var consoleDiv = $('#console-output');
    $.post('/report/{{ report._id }}/run?process=true', consoleResponse);
    consoleResponse('Initializing..');

});
</script>
<style>
#console-output {
    _border: 1px solid #ccc;
    padding: 10px;
    background: #000;
    color: #fff;
    font-family: monospace, "Courier New";
    height: 350px;
    overflow-y: scroll;
}
.console-line {
    white-space: pre;
}
.console-date {
    color: #090;
}
</style>
