<div id="viewer">

    <form action="javascript:void(0)" id="viewer-form" class="viewer-head clearfix">

        <div class="container">

            <div class="pull-left clearfix">

                <div class="pull-left input-prepend margin-right">
                    <select name="bucket" class="span2 input-small form-control">
                        <option value="0">-- Select Bucket --</option>
{% for bucket in user.buckets %}
                        <option value="{{ bucket.appkey ?: bucket.id }}">{{ bucket.description ?: bucket.name }}</option>
{% endfor %}
                    </select>
                </div>

                <div class="pull-left margin-right">
                    <input type="text" name="query" value="" placeholder='Query' class="input-small form-control" style="width:400px"/>
                </div>

                <div class="pull-left margin-right">
                    <input type="text" name="fields" value="" placeholder='Fields' class="input-small form-control" style="width:150px"/>
                </div>

                <div class="input-prepend pull-left margin-right">
                    <input type="text" name="sort" value="" placeholder="Sort" class="input-small form-control" style="width:100px"/>
                </div>

                <div class="input-prepend pull-left">
                    <input type="text" name="limit" value="10" placeholder="Limit" class="input-small form-control" style="width:50px"/>
                </div>

            </div>

            <div class="pull-right">
                <input type="submit" value="Run" class="btn btn-primary btn-small"/>
            </div>

        </div>

    </form>

    <div id="viewer-content" class="container">

    </div>

</div>
