<div class="container">

    <div class="clearfix">
        <Div class="pull-right btn-group">
            <a class="btn btn-default disabled">Export</a>
            <a class="btn btn-default disabled">Delete</a>
            <a class="btn btn-primary">New</a>
        </div>
    </div>
    <br/>

{% if reports | length > 0 %}
    <table class="table table-striped table-bordered">
{% for report in reports %}
        <tr>
            <td><a href="/report/{{ report._id }}">{{ report.name }}</a></td>
        </tr>
{% endfor %}
    </table>
{% else %}
    <div class="alert alert-info alert-block">You don't have any reports yet</div>
{% endif %}


<h5>Example Report</h5>
<pre><code>{
    "_id": {
        "$id": "51a669174c3e4cd600002f95"
    },
    "name": "More Popular URLs",
    "buckets": [

    ],
    "pipeline": [
        {
            "$match": {
                "$event": "pageview"
            }
        },
        {
            "$group": {
                "_id": "path",
                "count": {
                    "$sum": "$path"
                }
            }
        }
    ],
    "schedule": "*\/6 * * * *"
}</code></pre>

</div>
