<div class="container">

    <div class="row">

        <div class="col col-lg-8">
            <div class="clearfix">
                <div class="pull-left">
                    <h4>My API Keys</h4>
                </div>
                <div class="pull-right">
                    <a href="?action=create-apikey">Create New Key</a>
                </div>
            </div>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Key</th>
                        <th class="align-center">Requests</th>
                        <th class="align-center" width="100">Status</th>
                        <th width="200">Created</th>
                    </tr>
                </thead>
{% for key, data in apikeys %}
                <tr>
                    <td>{{ key }}</td>
                    <td class="align-center">{{ data.requests }}</td>
                    <td class="align-center">
{% if data.active %}
                        <span class="label label-success">active</span>
{% else %}
                        <span class="label">inactive</span>
{% endif %}
                    </td>
                    <td>{{ data.created.sec | date('Y-m-d H:i:s') }}</td>
                </tr>
{% endfor %}
            </table>
        </div>

    </div>

</div>

